{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn btn-light" style="margin-top:10px">Retour aux articles</a>
{% endblock %}
